@import "./modules/globales.scss";
@import "./modules/characters.scss";

.main-page{ 
    // background-image: linear-gradient(to right bottom, #c2ff40, #a5f83a, #84f236, #5eea35, #19e337);
    background-image: linear-gradient(to right top, #c2ff40, #acfa3b, #95f537, #7cef35, #5eea35, #4ae847, #32e657, #00e464, #00e57e, #00e594, #00e4a7, #19e3b7);
}

.main-page__hero {
    width: 100%;
    height: 500px;
    padding: 0px 10px;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(../assets/hero-image.webp);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    z-index: 1;

    &::before {
        content: '';
        width: 100%;
        height: 500px;
        display: block;
        position: absolute;  
        background-color: rgba(255, 255, 255, 0.4);
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(1.5px);
        z-index: 2;
    }
    
    h1 {
        max-width: 700px;
        line-height: 4rem;
        font-size: 3rem;
        font-family: $fuente1;
        letter-spacing: 5px;
        color: $white;
        opacity: 0.85;
        text-align: center;
        z-index: 3;

        // &::before {
        //     content: '';
        //     width: 100%;
        //     height: 500px;
        //     display: none;
        //     position: absolute;
        //     top: 0;
        //     left: 0;   
        //     background-color: rgba(255, 255, 255, 0.4);
        //     background-color: rgba(0, 0, 0, 0.5);
        //     backdrop-filter: blur(2px);
        //     z-index: -1;
        // }
    }
}

.main-page__main-grid-container {
    @include main-grid-container();
    
    .character {
        @include character-card();
    }
}
@import "./modules/media-queries.scss";