extend componentes/template.pug
block main-content
    main.characters-page
        h1 Rick and Morty's characters
        +characters-panel-search
        .characters-page__main-grid-container
        +panel
block scripts
    script(src="../characters.js" type="module") 
