extend componentes/template.pug
block main-content
    main.episodes-page
            h1 Rick and Morty's episodes
            +episodes-panel-search
            .episodes-page__main-grid-container
            +panel
block scripts
    script(src="../episodes.js" type="module") 