extend componentes/template.pug
block main-content
    main 
        .main-grid-container
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card
            +character-card