extend componentes/template.pug
block main-content
    main.main-page 
        section.main-page__hero 
            h1 Welcome to the biggest database of Rick & Morty's characters and episodes!
        section.main-page__random-cards
            button(type="button" onclick="refresh()") <span></span> Refresh
            .main-page__main-grid-container
block scripts
    script(src="../index.js" type="module") 
