extend componentes/template.pug
block main-content
    main.locations-page
            h1 Rick and Morty's locations
            +locations-panel-search
            .locations-page__main-grid-container
            +panel
block scripts
    script(src="../locations.js" type="module")