footer 
    ul 
        li: a(href="https://github.com/ricandres98/rick-and-morty") Repositorio de Github
        li twitter: 
            a(href="https://twitter.com/ricandres_98") @ricandres_98

    
    p Proyecto realizado para experimentar con el consumo de la  
        a(href="https://rickandmortyapi.com/") API de Rick & Morty
