footer 
    ul 
        li Repositorio de Github: 
            a(href="")
        li twitter: 
            a(href="")

    p Proyecto realizado para experimentar con el consumo de la API 
    p API:  
        a(href="https://rickandmortyapi.com/") Rick & Morty API
