header 
    h2 
        a(href="./index.html"): img(src="../assets/rick-and-morty-logo.png", alt="Rick and Morty", srcset="")
    nav 
        ul 
            li: a(href="./characters.html") Characters
            li: a(href="./episodes.html") Episodes 
            li: a(href="./locations.html") Locations 