header 
    h2 
        a(href="./index.html"): img(src="../assets/rick-and-morty-logo.png", alt="Rick and Morty", srcset="")
    nav 
        ul 
            li: a(href="") Characters
            li: a(href="") Episodes 
            li: a(href="") Locations 