mixin character-card 
    .character 
        .character__image 
            img.character-image(src="", alt="")
        .character__info 
            ul 
                li.character-name: strong Name: 
                li.character-gender: strong Gender:
                li.character-location: strong Location: 
                li.character-species: strong Species:

mixin episode-card 
    .episode 
        .episode__info 
            ul 
                li.episode-name: strong 
                li.episode-date: strong 
                li.episode-number: strong

mixin location-card 
    .location 
        .location__info 
            ul 
                li.location-name: strong Name: 
                li.location-type: strong Type: 
                li.location-dimension: strong Dimension: 

mixin characters-panel-search
    .panel
        .search 
            input(type="text")#input-search
            button#button-search(type="button" onclick="searchCharacters()") Search
        .pages 
            span Page: 
            input(placeholder="1")
            span.page-number 1
        .buttons
            button(type="button" onclick="priorPage()") < Previous
            button(type="button" onclick="nextPage()") Next >

mixin locations-panel-search
    .panel
        .search 
            input(type="text")#input-search
            button#button-search(type="button" onclick="searchLocations()") Search
        .pages 
            span Page: 
            span.page-number 1
        .buttons
            button(type="button" onclick="priorPage()") < Previous
            button(type="button" onclick="nextPage()") Next >

mixin episodes-panel-search
    .panel
        .search 
            input(type="text")#input-search
            button#button-search(type="button" onclick="searchEpisodes()") Search
        .pages 
            span Page:
            span.page-number 1
        .buttons
            button(type="button" onclick="priorPage()") < Previous
            button(type="button" onclick="nextPage()") Next >

mixin panel
    .panel
        .pages 
            span Page: 
            span.page-number 1
        .buttons
            button(type="button" onclick="priorPage()") < Previous
            button(type="button" onclick="nextPage()") Next >