mixin character-card 
    .character 
        .character__image 
            img.character-image(src="", alt="")
        .character__info 
            ul 
                li.character-name: strong Name: 
                li.character-gender: strong Gender:
                li.character-location: strong Location: 
                li.character-species: strong Species: