mixin character-card 
    .character-card 
        .character_image 
            img.character-image(src="", alt="")
        .character_info 
            ul 
                li.character-name Name: 
                li.character-gender Gender:
                li.character-location Location: 
                li.character-species Species: